name: Academicmaster
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 9.3.0+12


environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:

  http: ^0.12.0+4

  
  
  
  url_launcher: ^5.4.5
  
  google_sign_in: ^4.4.4

  
  cupertino_icons: ^0.1.3
  flutter_plugin_pdf_viewer: ^1.0.7

  youtube_player_flutter: ^6.1.0+7

  image_picker: ^0.6.7+3 
  image_cropper: ^1.2.3
  cloud_firestore: ^0.13.5
  firebase_storage: ^3.1.5
  random_string: ^2.0.1
  cached_network_image: ^2.0.0
  admob_flutter: ^0.3.4
  firebase_admob: ^0.9.3+2
  #firebase_admob: ^0.5.2
  firebase_core: ^0.4.4+3
  firebase_auth: ^0.16.0
  
  flutter_auth_buttons: ^0.8.0

  shared_preferences: ^0.5.7+1
  firebase_messaging: ^6.0.15

  animated_text_kit: ^2.0.1
  google_fonts: ^1.1.0
  flutter_spinkit: ^4.1.2+1
  flutter_webview_plugin: ^0.3.11
  
  gallery_saver: ^2.0.1
  esys_flutter_share: ^1.0.2
  flutter_linkify: ^3.1.3
  link_text: ^0.1.2
  foldable_sidebar: ^1.0.0
  device_apps: ^1.0.9
  flutter_animation_set: ^0.0.3
  intl: ^0.16.1
  like_button: ^1.0.1
  pinch_zoom_image_updated: ^0.2.6
  curved_navigation_bar: ^0.3.0
  
  
  
  


 



  flutter:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  assets:
    - images/

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:

  fonts:
  - family: Dancing
    fonts:
    - asset: fonts/myfonts.ttf
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
